<h1>Product List</h1>

<% @products.each do |product| %>
  <p><a href="<%= product.id %>">View this product</a></p>
  <p>product name: <%= product.name %></p>
  <p>price $<%= product.price %></p>
  <p>description: <%= product.description %></p>
  <p>stock status: <%= product.stock_status %></p>
  <p>images: <img src="<%= product.images %>"></p>
  <hr>
<% end %>

<p>This is the end of the list</p>
